<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container">
    <h1>Add Pet </h1>
    <form method="post" action="/pets/create">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Name">
      </div>

      <div class="form-group">
	      <label for="type">Type</label>
        <select name="type" class="form-control">
          <option value="Dog">Dog</option>
          <option value="Cat">Cat</option>
        </select>
      </div>

      <div class="form-group">
      <label for="breed">Breed</label>
        <select name="breed" class="form-control">
          <option value="Beagle">Beagle</option>
          <option value="Terrier">Terrier</option>
          <option value="Poodle">Poodle</option>
          <option value="Weiner">Weiner</option>
          <option value="Chihuahua">Chihuahua</option>
          <option value="Siamese">Siamese</option>
        </select>
      </div>

      <div class="form-group">
        <label for="lattitude">Lattitude</label>
        <input type="text" name="lattitude" class="form-control" id="lattitude" placeholder="Lattitude">
      </div>

      <div class="form-group">
        <label for="longitude">Longitude</label>
        <input type="text" name="longitude" class="form-control" id="longitude" placeholder="Longitude">
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

</body>
</html>
